@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../../fonts/MaterialIcons-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
.loader {
  margin: 25px auto 15px;
  width: 70px;
  text-align: center;
}
.loader > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.loader .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.nav-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.nav-title {
  font-size: 200%;
  font-weight: bold;
  padding: 10px;
}
.nav-panel {
  background-color: lightblue;
  display: flex;
  flex-flow: column;
}
.ui-view-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
}
.flex-space-filler {
  flex-grow: 2;
}
.section .title {
  font-size: 16px !important;
}
.section-separator {
  height: 20px;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}
.lobby-container .lobby-title {
  font-size: 16px;
}
.lobby-container .lobby-cards {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s linear;
}
.lobby-container .lobby-cards .title {
  font-size: 14px;
  text-align: center;
  font-weight: normal !important;
}
.lobby-container .lobby-cards .items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.lobby-container .lobby-cards .items .card:hover {
  transform: rotate(-360deg);
  -webkit-transform: rotate(-360deg);
  /** Chrome & Safari **/
  -o-transform: rotate(-360deg);
  /** Opera **/
  -moz-transform: rotate(-360deg);
  /** Firefox **/
}
.lobby-container .lobby-cards .items .card {
  position: absolute;
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  /** Chrome & Safari **/
  -moz-transition: all 2s ease-in-out;
  /** Firefox **/
  -o-transition: all 2s ease-in-out;
  /** Opera **/
}
.lobby-container .client-player-section {
  display: flex;
  flex-direction: column;
}
.lobby-container .client-player-section .name-control {
  display: flex;
  flex-direction: row;
  min-height: 50px;
  align-items: center;
}
.lobby-container .client-player-section .name-control .title {
  font-size: 16px;
  background-color: #EFEFEFEF;
  padding: 10px;
  border-radius: 15px;
  border-color: black;
  border: 2px solid black;
}
.lobby-container .client-player-section .name-control .input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.lobby-container .game-list-section {
  display: flex;
  flex-direction: column;
}
.lobby-container .game-list-section .game-list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about .facts-container {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}
.about .facts-container .title {
  font-size: 18px;
  margin-bottom: 15px;
}
.about .facts-container .facts {
  display: flex;
  flex-direction: column;
}
.about .facts-container .facts .fact {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about .facts-container .facts .title {
  font-size: 12px;
}
.game-container {
  width: 700px;
}
.game-container .header {
  display: flex;
  flex-direction: column;
}
.game-container .header .title {
  font-size: 18px;
  font-weight: bold;
}
.game-container .header .config {
  display: flex;
  flex-direction: row;
}
.game-container .header .config .colorButton {
  background-color: #3333BB;
  color: yellow;
  font-weight: bold;
}
.game-container .header .config .colorButton:hover {
  background-color: #282893;
}
.game-match-section {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.interactive-section {
  display: flex;
  flex-direction: column;
}
.interactive-section .play-section {
  display: flex;
  flex-direction: row;
}
.interactive-section .play-section .title {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.interactive-section .play-section .ng-card-container.card-image {
  transition: transform 0.25s linear;
}
.interactive-section .play-section .deck-section {
  display: flex;
  flex-direction: column;
  background-color: #EAEAEA;
  border-radius: 20px;
  padding: 20;
}
.interactive-section .play-section .hand-section {
  display: flex;
  flex-direction: column;
  background-color: #EAEAEA;
  border-radius: 20px;
  padding: 20;
  margin-left: 10px;
  margin-right: 10px;
}
.interactive-section .play-section .game-chat-controls .controls-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
}
.interactive-section .play-section .game-chat-controls .controls-section .colorButton {
  background-color: #3333BB;
  color: yellow;
  font-weight: bold;
}
.interactive-section .play-section .game-chat-controls .controls-section .colorButton:hover {
  background-color: #282893;
}
.interactive-section .play-section .game-chat-controls .chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.interactive-section .play-section .game-chat-controls .chat-container .send-message-control {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.interactive-section .play-section .game-chat-controls .chat-container .send-message-control .text {
  flex-grow: 2;
}
.interactive-section .play-section .game-chat-controls .chat-container .messages-section {
  overflow: auto;
  height: 300px;
  border: 2px black solid;
  background-color: yellow;
}
.interactive-section .play-section .game-chat-controls .chat-container .messages-section .message {
  color: blue;
}
.toast-container > div {
  width: 400px !important;
}
.toastr-chat-class {
  background-color: #51a351 !important;
  color: #ffffff !important;
  width: 600px !important;
}
.toasrt-chat-tittle {
  font-size: 24px;
  font-weight: bold;
}
.toasrt-chat-message {
  font-size: 16px;
}
.toastr-info-action-class {
  width: 600px !important;
}
#toast-container > .toast-info.toastr-info-action-class {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAOCAYAAADaOrdAAAABhGlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw1AUhU9TRZEWBzuIOGSoThZERTtqFYpQIdQKrTqYvPQPmjQkKS6OgmvBwZ/FqoOLs64OroIg+APi5uak6CIl3pcUWsR44fE+zrvn8N59gNCoMM3qGgc03TbTyYSYza2KPa8IIIwQ4piRmWXMSVIKvvV1T91UdzGe5d/3Z4XVvMWAgEg8ywzTJt4gnt60Dc77xBFWklXic+Ixky5I/Mh1xeM3zkWXBZ4ZMTPpeeIIsVjsYKWDWcnUiKeIo6qmU76Q9VjlvMVZq9RY6578haG8vrLMdVrDSGIRS5AgQkENZVRgI0a7ToqFNJ0nfPxDrl8il0KuMhg5FlCFBtn1g//B79lahckJLymUALpfHOdjBOjZBZp1x/k+dpzmCRB8Bq70tr/aAOKfpNfbWvQI6N8GLq7bmrIHXO4Ag0+GbMquFKQlFArA+xl9Uw4YuAX61ry5tc5x+gBkaFapG+DgEBgtUva6z7t7O+f2b09rfj/CgXLHzL801AAAAAZiS0dEAP8A/wAAjb9IHgAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB+UBDQw5FS8UQckAAAETSURBVDjLvZQ9SgRBEIW/WRZTEQMXROiKhEFkwdTIS3gBQdxlE3HvYbQamOsFvIGIifiTqKC8BtfAwMAD6Jr0QDPaM8iOPmiormrqdb0qKvPSOnAELNM8HoCtzEtXQJe/w3UrQXAP9IGdBki6rUTg2ZmNgMNfJpwAJ8Bx7Gw3LM2+M9sF8NIYGJZJXoC3YCvy30b2IjBf0+gCT4WReWkS7J4zO6j6ppdGNX26BDaBD+AUyAFaU8rTB2aAvXBfAx6DEvlPlcRyXTizbS8B3CTkunNmeVTlOMS/oV1KUDx6jfyriSo6Xpp1Zu9e6gALqXKnma454MxL58BGVa5UYMlLPeCzhmglnEr821oZlOa76QU5+AI7KFFUMj3UhAAAAABJRU5ErkJggg==") !important;
}
.game-player-list-section {
  display: flex;
  flex-direction: column;
}
.game-player-list-section .title {
  font-size: 14px;
  font-weight: bold;
}
.taken-cards-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.taken-cards-container div {
  align-self: flex-start;
}
.taken-cards-container .title {
  font-size: 14px;
  font-weight: bold;
}
.taken-cards-container .taken-cards-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.taken-cards-container .taken-cards-section .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightgrey;
  border-radius: 10px;
  padding: 0 5px;
  margin: 5px;
  font-size: 14px;
}
.game-player-header {
  margin-left: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.game-player-header .see-player-button {
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  min-width: unset;
}
.game-player-header .player-action {
  background-color: lightblue;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}
.game-player-header .player-action .ng-player-action-container {
  align-items: center;
}
.player-actions-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.player-actions-container .title {
  font-size: 14px;
  font-weight: bold;
}
.player-actions-container .player-actions-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.player-actions-container .player-actions-section .player-action {
  background-color: lightblue;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}
.stats-section {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-top: 10px;
}
.stats-section .title {
  font-size: 14px;
  font-weight: bold;
}
.stats-section .player-stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.stats-section .player-stats-container .player-stats-item .player-name {
  color: darkgrey;
  font-weight: bold;
}
.stats-section .player-stats-container .player-stats-item .stats-name {
  font-weight: normal;
}
.stats-section .player-stats-container .player-stats-item .stats-value {
  font-weight: bold;
  color: darkgreen;
}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
}
.ng-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ng-card-container .value {
  color: blue;
  font-weight: bold;
}
.ng-player-action-container {
  display: flex;
  flex-direction: column;
}
.ng-player-action-container div.title {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.ng-player-action-container div.hand-card {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.ng-player-action-container div.boards-card {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.ng-player-action-container .ng-card-container {
  margin-left: 10px;
}
body {
  height: 100vh;
  margin: 0;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}
ui-view {
  height: 100%;
  background-size: cover;
  background-position: center;
}
.materialIcon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  /* Support for all WebKit browsers. */
  text-rendering: optimizeLegibility;
  /* Support for Safari and Chrome. */
}
.materialIcon.mi12 {
  font-size: 12px;
}
.materialIcon.mi14 {
  font-size: 14px;
}
.materialIcon.mi18 {
  font-size: 18px;
}
.materialIcon.mi28 {
  font-size: 28px;
}
.materialButton {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  padding: 0 16px;
  height: 36px;
  min-width: 66px;
  transition: all 0.2s linear;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  border: none;
}
.materialButton[disabled] {
  background-color: #f6f6f6;
  opacity: 0.5;
  cursor: default !important;
}
.materialButton.raised {
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.3);
}
.materialButton.raised:hover {
  box-shadow: 0 4px 3px 0px rgba(0, 0, 0, 0.3);
}
.materialButton.gray {
  background-color: #F8F8F8;
  border: 1px solid #BCBCBC;
}
.materialButton.gray:hover {
  background-color: #ebebeb;
}
.materialButton.colorButton {
  background-color: #333333;
  color: white;
}
.materialButton.colorButton:hover {
  background-color: #1a1a1a;
}
.materialButton.white {
  background-color: white;
  color: #404041;
}
.materialButton.white:hover {
  background-color: #f2f2f2;
}
.materialButton.transparentButton {
  background-color: transparent;
  color: #404041;
}
.materialButton.transparentButton:hover {
  background-color: rgba(64, 64, 65, 0.2);
}
.materialButton.transparentButton:active {
  background-color: rgba(64, 64, 65, 0.4);
}
.materialButton.transparentButton.white {
  color: white;
}
.materialButton.transparentButton.white:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.materialButton.transparentButton.white:active {
  background-color: rgba(255, 255, 255, 0.4);
}
.materialButton.iconButton {
  background-color: transparent;
  color: #404041;
  padding: 6px;
  min-width: 0;
  text-transform: none;
  font-weight: 400;
  font-size: 24px;
  height: 24px;
}
.materialButton.iconButton:hover.close {
  color: #D32F2F;
}
.materialButton.iconButton.hidden {
  opacity: 0;
}
.materialButton.tagButton {
  padding: 3px;
  margin: 2px auto 2px 10px;
  font-size: 12px;
  font-weight: 200;
  height: 20px;
}
.materialButton.tagButton.selected {
  background-color: #333333;
  color: white;
  font-weight: 600;
}
.textButton {
  cursor: pointer;
  color: #404041;
}
.textButton:hover {
  color: #333333;
}
.raised {
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.3);
}
.raised-2 {
  box-shadow: 0 5px 4px 0px rgba(0, 0, 0, 0.3);
}
select,
input {
  border: 0;
  border-radius: 0;
  color: #404041;
  background-color: transparent;
  padding: 2px 2px 1px;
  border-bottom: 1px solid #A4A4A4;
  transition: all 0.2s linear;
}
select:focus,
input:focus {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #404041;
}
select::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #A4A4A4;
}
select.white,
input.white {
  color: white;
  border-bottom: 1px solid #DDDDDD;
}
select.white:focus,
input.white:focus {
  border-bottom: 1px solid white;
}
select.white::-webkit-input-placeholder,
input.white::-webkit-input-placeholder {
  color: #DDDDDD;
}
.disabled-button {
  opacity: 0.5;
  background-color: transparent;
  cursor: default !important;
}
.fab {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 12px 12px 9px 11px;
  width: 29px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}
dialog {
  background: #FFF;
  padding: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
dialog .dialogHeader {
  color: #2A323F;
  margin: 15px 15px 0;
  font-size: 18px;
}
dialog .dialogContent {
  padding: 20px;
}
.panel {
  width: 75%;
}
.panel .title {
  font-size: 24px;
  padding: 10px;
  font-weight: bold;
  color: #333333;
}
