

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('../../fonts/MaterialIcons-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  src:  url('../../fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src:  url('../../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src:  url('../../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src:  url('../../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src:  url('../../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src:  url('../../fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


// LOADER

.loader {
  margin: 25px auto 15px;
  width: 70px;
  text-align: center;
}
.loader > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.loader .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

// COMMON STYLES

@mainColor: #333333;
@lightGray: #FAFAFA;
@midGray: #A4A4A4;
@darkGray: #404041;
@red: #D32F2F;
@defaultTransition: all 0.2s linear;

@panel-width: 800px;

.panel {
  width: @panel-width;
  .title {
    font-size: 24px;
    padding: 10px;
    font-weight: bold;
    color: @mainColor;
  }
}

// ROOT SCREEN ("SCREEN CONTAINER")

.nav-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nav-title {
  font-size: 200%;
  font-weight: bold;
  padding: 10px;
}

.nav-panel {
  background-color:lightblue;
  display: flex;
  flex-flow: column;
}

.ui-view-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
}

.flex-space-filler {
  flex-grow: 2;
}

.section {
  .title {
    font-size: 16px;
  }
}

.section-separator {
  height: 20px;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

// LOBBY SCREEN

.lobby-container {

  .lobby-title {
    font-size: 16px;
  }

  .client-player-section {
    display: flex;
    flex-direction: column;

    .name-control {
      display: flex;
      flex-direction: row;
      min-height: 50px;
      align-items: center;

      .title {
        font-size: 16px;
        background-color: #EFEFEFEF;
        padding: 10px;
        border-radius: 15px;
        border-color: black;
        border: 2px solid black;
      }

      .input {
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
      }

    }
  }

  .game-list-section {
    display:flex;
    flex-direction: column;

    .game-list-header {
      display:flex;
      flex-direction: row;
      align-items: center;
    }
  }
}




player-data-section

// GAME SCREEN

.game-container {
  width: 700px;
}

.game-match-section {
  margin: 20px;
  display:flex;
  flex-direction: column;
}

.game-message {
  color: blue;
}

.game-messages-section {
  overflow: auto;
  height: 400px;
  border: 2px black solid;
  background-color: yellow;
}


.interactive-section {
  display:flex;
  flex-direction: column;

  .play-section {
    display:flex;
    flex-direction: row;

    .title {
      font-size: 18px;
      font-weight: bold;
      display: flex;
      justify-content: center;
    }

    .deck-section {
      display: flex;
      flex-direction: column;
      background-color: #EAEAEA;
      border-radius: 20px;
      padding: 20;
    }

    .hand-section {
      display: flex;
      flex-direction: column;
      background-color: #EAEAEA;
      border-radius: 20px;
      padding: 20;
      margin-left: 10px;
      margin-right: 10px;
    }

    .game-chat-controls {

      .controls-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100px;

        .colorButton {
          background-color: blue;
          color: gold;
          font-weight: bold;
        }
      }

      .chat-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .send-message-control {
          display: flex;
          flex-direction: row;

          .text {
            flex-grow: 2;
          }
        }
      }

    }

  }
}

.toastr-chat-class {
  background-color: #51a351 !important;
  color: #ffffff !important;
}

.toasrt-chat-tittle{
  font-size: 24px;
  font-weight: bold;
}

.toasrt-chat-message{
  font-size: 16px;
}

.played-cards-section {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 0 5px;
    margin: 5px;
    font-size: 14px;
  }
}



.game-player-list-section {
  display:flex;
  flex-direction: column;

  .title {
    font-size: 14px;
    font-weight: bold;
  }
}

.taken-cards-container {
  display:flex;
  flex-direction: column;
  margin-top: 10px;

  div {
    align-self: flex-start;
  }

}

.stats-section {
  display:flex;
  flex-direction: column;
  font-size: 12px;
  margin-top: 10px;

  .title {
    font-size: 14px;
    font-weight: bold;
  }

  .player-stats-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;


    .player-stats-item{

      .player-name {
        color:darkgrey;
        font-weight: bold;;
      }

      .stats-name {
        font-weight: normal;
      }

      .stats-value {
        font-weight: bold;
        color: darkgreen;
      }
    }
  }
}

// Card container directive

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  font-size: 16px;
}

.ng-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .value {
    color: blue;
    font-weight: bold;
  }
}

body{
  height:           100vh;
  margin:           0;
  background-color: white;
  font-family:      'Roboto', sans-serif;
}

ui-view {
  height:              100%;
  background-size:     cover;
  background-position: center;
}


.materialIcon {
  font-family:            'Material Icons';
  font-weight:            normal;
  font-style:             normal;
  font-size:              24px;  /* Preferred icon size */
  display:                inline-block;
  line-height:            1;
  text-transform:         none;
  letter-spacing:         normal;
  word-wrap:              normal;
  white-space:            nowrap;
  direction:              ltr;
  -webkit-font-smoothing: antialiased; /* Support for all WebKit browsers. */
  text-rendering:         optimizeLegibility; /* Support for Safari and Chrome. */
  &.mi12{
    font-size: 12px;
  }
  &.mi14{
    font-size: 14px;
  }
  &.mi18{
    font-size: 18px;
  }
  &.mi28{
    font-size: 28px;
  }
}

.materialButton{
  align-items:    center;
  justify-content: center;
  display:        flex;
  flex-direction: row;
  border-radius:  2px;
  padding:        0 16px;
  height:         36px;
  min-width:      66px;
  transition:     @defaultTransition;
  cursor:         pointer;
  font-weight:    700;
  font-size:      14px;
  &.raised{
    box-shadow: 0 2px 2px 0px rgba(0,0,0,0.3);
    &:hover{
      box-shadow: 0 4px 3px 0px rgba(0,0,0,0.3);
    }
  }
  &.gray{
    background-color: #F8F8F8;
    border:             1px solid #BCBCBC;
    &:hover{
      background-color: darken(#F8F8F8, 5%);
    }
  }
  &.colorButton{
    background-color: @mainColor;
    color:          white;
    &:hover{
      background-color: darken(@mainColor, 10%);
    }
  }
  &.white{
    background-color: white;
    color:          @darkGray;
    &:hover{
      background-color: darken(white, 5%);
    }
  }
  &.transparentButton{
    background-color: transparent;
    color:            @darkGray;
    &:hover{
        background-color: fade(@darkGray, 20%);
      }
      &:active{
        background-color: fade(@darkGray, 40%);
      }
    &.white{
      color: white;
      &:hover{
        background-color: fade(white, 20%);
      }
      &:active{
        background-color: fade(white, 40%);
      }
    }
  }
  &.iconButton{
    background-color: transparent;
    color:            @darkGray;
    padding:          6px;
    min-width:        0;
    text-transform:   none;
    font-weight:      400;
    font-size:        24px;
    height:           24px;
    &:hover.close{
      color: @red;
    }
    &.hidden{
      opacity: 0;
    }
  }
  &.tagButton{
    padding:      3px;
    margin:       2px auto 2px 10px;
    font-size:    12px;
    font-weight:  200;
    height:       20px;
    &.selected{
      background-color: @mainColor;
      color:          white;
      font-weight:      600;
    }
  }
}
.textButton{
  cursor: pointer;
  color:  @darkGray;
  &:hover{
    color: @mainColor;
  }
}
.raised{
  box-shadow: 0 2px 2px 0px rgba(0,0,0,0.3);
}
.raised-2{
  box-shadow: 0 5px 4px 0px rgba(0,0,0,0.3);
}
select, input{
  border:           0;
  border-radius:    0;
  color:            @darkGray;
  background-color: transparent;
  padding:          2px 2px 1px;
  border-bottom:    1px solid @midGray;
  transition:       @defaultTransition;
  &:focus{
    border:        0;
    outline:       0;
    border-bottom: 1px solid @darkGray;
  }
  &::-webkit-input-placeholder {
    color: @midGray;
  }
  &.white{
    color:            white;
    border-bottom:    1px solid #DDDDDD;
    &:focus{
      border-bottom: 1px solid white;
    }
    &::-webkit-input-placeholder {
      color: #DDDDDD;
    }
  }
}

.disabled-button {
  opacity: 0.5;
  background-color: transparent;
  cursor:           default !important;
}

.fab{
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 12px 12px 9px 11px;
  width: 29px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}

dialog {
  background: #FFF;
  padding: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  &::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  & .dialogHeader{
    color: #2A323F;
    margin: 15px 15px 0;
    font-size: 18px;
  }
  & .dialogContent{
    padding: 20px;
  }
}