<div class="panel about">
  <h2>Acerca de la Escobita 15</h2>
  <div id="credits" class="not-visible">
    <h3>Una</h3>
    <img id="vitu-logo" src="presentation/web/assets/images/logo.png"></img>
    <h3>desarrollada por aliens@40tena</h3>
    <img src="https://www.taipeitimes.com/images/2014/12/24/P01-141224-340.jpg" width="300px" style="vertical-align:middle; border-radius: 40px;"></img>
  </div>
  <a href="https://github.com/Vitucho/escobita"><h4>code@github</h4></a>
  <!--<div class="facts-container">
    <div class="title">Hechos <b>fácticos</b> ocurridos durante el desarollo</div>
    <div class="facts">
      <div class="fact" ng-if="true">
        <div ng-init="arr = [].constructor(18)">Tortitas negras sacrificadas (<b>{{arr.length}}</b>):&nbsp;</div>
        <div ng-repeat="x in arr track by $index">
          <img width="30" src="presentation/web/assets/images/tortita.png">
          <span ng-if="!$last">&nbsp;</span>
        </div>
      </div>
      <div class="fact" ng-if="true">
        <div ng-init="arr = [].constructor(5)">Moscatos liberados(<b>{{arr.length}}</b>):&nbsp;</div>
          <div ng-repeat="x in arr track by $index">
            <img width="20" src="presentation/web/assets/images/moscato.png">
            <span ng-if="!$last">&nbsp;</span>
          </div>
      </div>
      <div class="fact" ng-if="true">
        <div ng-init="arr = [].constructor(24)">Nuevas Leyes promulgadas (<b>{{arr.length}}</b>):&nbsp;</div>
        <div ng-repeat="x in arr track by $index">
          <img width="30" src="presentation/web/assets/images/law.png">
          <span ng-if="!$last">&nbsp;</span>
        </div>
      </div>
    </div>
  </div> -->
</div>