<div class="panel about">
  <h1>Acerca de la Escobita 15</h1>
  <div style="display: flex; flex-direction: row; align-items: center;">
    <h2>Desarrollada por aliens@40tena -></h2>
    <img src="https://www.taipeitimes.com/images/2014/12/24/P01-141224-340.jpg" width="300px" style="vertical-align:middle"></img>
  </div>

  <a href="https://github.com/Vitucho/escobita"><h3>code@github</h3></a>
  <!--<div class="facts-container">
    <div class="title">Hechos <b>fácticos</b> ocurridos durante el desarollo</div>
    <div class="facts">
      <div class="fact" ng-if="true">
        <div ng-init="arr = [].constructor(18)">Tortitas negras sacrificadas (<b>{{arr.length}}</b>):&nbsp;</div>
        <div ng-repeat="x in arr track by $index">
          <img width="30" src="presentation/web/assets/images/tortita.png">
          <span ng-if="!$last">&nbsp;</span>
        </div>
      </div>
      <div class="fact" ng-if="true">
        <div ng-init="arr = [].constructor(5)">Moscatos liberados(<b>{{arr.length}}</b>):&nbsp;</div>
          <div ng-repeat="x in arr track by $index">
            <img width="20" src="presentation/web/assets/images/moscato.png">
            <span ng-if="!$last">&nbsp;</span>
          </div>
      </div>
      <div class="fact" ng-if="true">
        <div ng-init="arr = [].constructor(24)">Nuevas Leyes promulgadas (<b>{{arr.length}}</b>):&nbsp;</div>
        <div ng-repeat="x in arr track by $index">
          <img width="30" src="presentation/web/assets/images/law.png">
          <span ng-if="!$last">&nbsp;</span>
        </div>
      </div>
    </div>
  </div> -->
</div>