<div class="panel game-container">

  <div class="header">
    <h2>Juego <i>{{ctr.game.name}}</i></h2>
    <div class="config">
      <div class="materialButton colorButton" ng-class="{ 'selected-button': ctr.isChatEnabled}" ng-click="ctr.isChatEnabled = !ctr.isChatEnabled">{{ctr.isChatEnabled ? 'Desactivar' : 'Activar'}} chat</div>
      <span>&nbsp;&nbsp;</span>
      <div class="materialButton colorButton" ng-class="{ 'selected-button': !ctr.displayCardsAsSprites}" ng-click="ctr.displayCardsAsSprites = !ctr.displayCardsAsSprites">Cambiar visualización cartas a modo {{ctr.displayCardsAsSprites ? 'texto' : 'imagen'}}</div>
      <div ng-show="ctr.isMatchInProgress" style="display: flex;flex-direction: row;">
        <span>&nbsp;&nbsp;</span>
        <div class="materialButton colorButton" ng-class="{ 'selected-button': showPlayerActions}"  ng-click="showPlayerActions = !showPlayerActions">{{showPlayerActions ? 'Ocultar' : 'Mostrar'}} acciones</div>
        <span>&nbsp;&nbsp;</span>
        <div class="materialButton colorButton" ng-class="{ 'selected-button': showTakenCards}"   ng-click="showTakenCards = !showTakenCards">{{showTakenCards ? 'Ocultar' : 'Mostrar'}} cartas tomadas</div>
      </div>
    </div>
  </div>

  <!-- CHAT -->
  <div id="chat-container" class="section">
    <div class="flex"></div>
    <div ng-if="ctr.isChatEnabled">
      <div class="send-message-control">
        <input class="text" placeholder="Escribe un mensaje" ng-model="ctr.playerMessage.text" >
        <button class="materialButton raised colorButton" style="display: flex; flex-direction: column;; margin-left: 1em;" ng-disabled="!ctr.canSendMessage(ctr.playerMessage)" title="Podés apretar enter para enviar" ng-click="ctr.sendAndCleanMessage(ctr.playerMessage);">
          <span>Enviar</span>
          <span id="chat-press-enter-hint" style="font-size: xx-small">(ó enter)</span>
        </button>
      </div>
      <!-- <div class="messages-section">
        <div class="message horizontal" ng-repeat="message in ctr.messages | orderBy: 'created'" ng-style="{'font-size': ctr.getFontSize(ctr.playersById[message.playerId])}">
          <span>[{{ctr.formatUnixTimestamp(message.created)}}]</span>&nbsp;
          <span>{{ctr.playersById[message.playerId].name}}:</span>&nbsp;
          <span>{{message.text}}</span>
        </div>
      </div> -->
    </div>
  </div>

  <div class="section player-list-section">
    <div ng-show="ctr.isPlayerGameOwner && !ctr.isMatchInProgress">
      <strong >Eres el administrador</strong>&nbsp;
      <span>Solo vos podés comenzar la partida, una vez comenzada se cierran las puertas!</span><br/>
      <span>Se puede usar el chat para charlar mientras tanto, apreta el botón <strong>activar chat</strong></span>
    </div>

    <div ng-show="!ctr.isPlayerGameOwner && !ctr.isMatchInProgress">
      <span>El administrador esta configurando la partida para el gusto de todos.</span><br/>
      <span>Se puede usar el chat para charlar mientras tanto, apreta el botón <strong>activar chat</strong></span>
    </div>

    <h3>Jugadores</h3>
    <!-- the check performed at Games.addPlayer at joining a game ensures that won't be two players with the same name, but they could share it and they will actually share the player -->
    <div class="game-player-header" ng-repeat="player in ctr.game.players track by player.name">
      <span>{{$index+1}}. <span ng-class="{'player-name': true, 'current-turn-player' : ctr.currentTurnPlayer.name === player.name}">{{player.name}}</span></span> <!-- recall game players doesn't have id -->
      <span style="width: 10px;"></span>
      <!-- using ng-if=ng-show="ctr.player.name !== player.name" doesn't works here! -->
      <div ng-show="ctr.player.name == player.name" class="materialButton raised colorButton see-player-button" title="chusmear al jugador" ng-click="peekPlayer = !peekPlayer">
       <img ng-show="!peekPlayer" src="/presentation/web/assets/images/eyes_open.png" height="20px">
       <img ng-show="peekPlayer" src="/presentation/web/assets/images/eyes_closed.png" height="20px">
      </div>
      <div ng-if="ctr.isMatchInProgress && peekPlayer" class="player-action">
        <div ng-repeat="action in ctr.game.currentMatch.actionsByPlayerName[player.name]">
          <player-action ng-if="$last" order="$index" ng-model="action"></player-action>
        </div>
      </div>
    </div>

    <!--<div ng-show="ctr.isMatchInProgress" style="margin-top: 10px;">
     <span style="color: blue; background-color: yellow;font-size: larger;">Turno de:</span>&nbsp;<span>{{ctr.currentTurnPlayer.name}}</span>
     <br/>
     <strong ng-show="ctr.isPlayerTurn" style="color: red; background-color: yellow;font-size: larger;">Es tu turno! Juega!</strong>
    </div>-->

  </div>

  <div class="section game-match-section">

    <button class="materialButton colorButton" style="background-color: firebrick; align-self: center;"  ng-hide="ctr.isMatchInProgress || !ctr.isPlayerGameOwner" ng-disabled="ctr.loading" ng-click="ctr.startGame(ctr.game)">COMENZAR</button>

    <!-- <loading message="Cargando..." ng-if="ctr.loading"></loading>-->

    <!-- PLAYING CARDS -->
    <div id="interactive-section">

      <div class="play-section">

        <!-- DECK -->
        <div class="deck-section" ng-show="ctr.isMatchInProgress">
          <div class="title">En mesa</div>
          <div class="cards">
            <div class="card" ng-repeat="card in ctr.game.currentMatch.matchCards.board">
              <input ng-if="ctr.isPlayerTurn" type="checkbox" ng-model="ctr.isBoardCardSelectedById[card.id]" >
              <card ng-model="card" ng-click="ctr.isBoardCardSelectedById[card.id] = !ctr.isBoardCardSelectedById[card.id]"></card>
            </div>
          </div>
        </div>

        <!-- HAND -->
        <div class="hand-section" ng-show="ctr.isMatchInProgress">
          <div class="title">En mano</div>
          <div class="cards">
            <div class="card" ng-repeat="card in ctr.game.currentMatch.matchCards.byPlayerName[ctr.player.name].hand">
              <input ng-if="ctr.isPlayerTurn" type="radio" ng-model="ctr.selectedHandCard" ng-value="card">
              <card ng-model="card" ng-click="ctr.selectedHandCard = card"></card>
            </div>
          </div>
        </div>

        <!-- GAME CONTROLS -->
        <div id="game-controls" >
          <div class="controls-section" ng-if="ctr.isPlayerTurn">
            <button class="materialButton raised colorButton" ng-disabled="ctr.loading || !ctr.hasValidTakeAction()" ng-click="ctr.performTakeAction()">Levantar</button>
            <button class="materialButton raised colorButton" ng-disabled="ctr.loading || !ctr.hasValidDropAction()" ng-click="ctr.performDropAction()">Descartar</button>
          </div>
        </div>
      </div>

      <!-- TAKEN CARDS -->
      <div class="taken-cards-container" ng-show="ctr.isMatchInProgress" ng-if="showTakenCards">
        <div class="title">Cartas tomadas</div>
        <div class="taken-cards-section">
          <div class="card" ng-repeat="card in ctr.game.currentMatch.matchCards.byPlayerName[ctr.player.name].taken">
            <card ng-model="card"></card>
          </div>
        </div>
      </div>

      <!-- ACTIONS PERFORMED -->
      <div class="player-actions-container" ng-show="ctr.isMatchInProgress" ng-if="showPlayerActions">
        <div class="title">Acciones</div>
        <div class="player-actions-section">
          <div class="player-action" ng-repeat="playerAction in ctr.game.currentMatch.actionsByPlayerName[ctr.player.name]">
            <player-action order="$index" ng-model="playerAction"></player-action>
          </div>
        </div>
      </div>

    </div>

    <!-- MATCH STATS -->
    <div class="stats-section">
      <div class="title">Estadísticas del partido actual</div>
      <div class="player-stats-container">
        <div ng-repeat="(playerName,stats) in ctr.currentMatchStats" class="player-stats-item">
          <div>
            <span class="player-name">{{playerName}}</span>&nbsp;
            <span style="font-size:120%;">
              <span class="stats-name">Puntaje:</span>&nbsp;<span class="stats-value">{{stats.score}}</span>
            </span>
          </div>
          <div>
            <span class="stats-name">Cartas levantadas:</span>&nbsp;
            <span class="stats-value">{{stats.statictics.cardsTakenCount}}</span>
            &nbsp;&comma;
            <span class="stats-name">oros:</span>&nbsp;
            <span class="stats-value">{{stats.statictics.goldCardsCount}}</span>
          </div>
          <div>
            <span class="stats-name">Escobitas:</span>&nbsp;
            <span class="stats-value">{{stats.statictics.escobitasCount}}</span>
          </div>
          <div>
            <span class="stats-name">Siete de oro:</span>&nbsp;
            <span class="stats-value">{{stats.statictics.hasGoldSeven ? "Sí" : "No"}}</span>
          </div>
          <div>
            <span class="stats-name">Puntaje de setentas:</span>&nbsp;
            <span class="stats-value">{{stats.statictics.seventiesScore}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>