<div class="panel lobby-container">

  <div class="title lobby-title">Lobby</div>

  <loading message="Cargando..." ng-if="ctr.loading"></loading>

  <div>

  <div class="section client-player-section">
    <div class="title">Datos de jugador</div>
    <div class="name-control">
      <span class="title">Nombre</span>
      <div class="input" style="flex-grow: 10;">
        <input placeholder="Escribe tu nombre" ng-model="ctr.playerName" ></input>
        <i ng-hide="ctr.player.name">Para <strong>empezar</strong> debés introducir un nombre y luego hacer click en <strong>Guardar</strong></i>
      </div>
      <span style="flex-grow: 2;"></span>
      <div class="materialButton raised colorButton" ng-class="{'disabled-button': ctr.loading}" ng-click="!ctr.loading && ctr.updatePlayerName(ctr.playerName)">Guardar</div>
    </div>
    <span style="font-size: 75%;">
      <span>Identificador interno asignado:</span>&nbsp;<span>{{ctr.player.id}}</span>
    </span>
  </div>

  <div class="section-separator"></div>

  <div class="section" ng-if="ctr.player.name">

      <div class="section game-list-section">
        <div class="title">Listado de juegos</div>
        <div class="game-list-header">
          <span>
            <span>Cantidad de juegos existentes:</span>&nbsp;<strong>{{ctr.games.length}}</strong>
          </span>
          <span class="flex-space-filler"></span>
          <div class="materialButton colorButton" ng-class="{'disabled-button': ctr.loading}" ng-click="!ctr.loading && ctr.updateGameList()">Actualizar listado de juegos</div>
        </div>
        <div style="height: 20px;"></div>
        <div ng-repeat="game in ctr.games">
          <div style="display:flex; flex-direction: row;  align-items: center; margin-top: 10px;">
            <span>{{game.name}}</span>
            <span class="flex-space-filler"></span>
            <div class="materialButton colorButton" ng-if="ctr.doesGameAcceptPlayers(game)" ng-class="{'disabled-button': ctr.loading}"  ng-click="!ctr.loading && ctr.joinGame(game, ctr.player)">Unirse</div>
          </div>
        </div>
      </div>

      <div class="section-separator"></div>

      <div class="section">
        <div class="title">Crear un nuevo juego</div>
        <div style="display:flex; flex-direction: row;  align-items: center;">
          <input placeholder="Nombre del juego" ng-model="game.name"  style="flex-grow: 100;">
          <span  style="flex-grow: 2;"></span>
          <div class="materialButton colorButton" ng-class="{'disabled-button': ctr.loading}" ng-click="!ctr.loading && ctr.createGame(game)">Crear nuevo juego</div>
        </div>
      </div>

  </div>

  <div class="lobby-cards" ng-style="{'opacity': (ctr.showCards ? '1' : '0')}" >
    <span class="title">The <b>cards</b> of the <b>house</b></span>
    <div class="items">
      <div ng-repeat="suit in [0,1,2,3]">
        <div ng-repeat="rank in [1,2,3,4,5,6,7,8,9,10,11,12]" ng-init="model = {suit: suit, rank: rank}">
          <card ng-model="model"></card>
        </div>
      </div>
    </div>
  </div>

</div>